{% extends "::base.html.twig" %}

{% block title %}WCSGotBundle:RoyaumeController:show{% endblock %}

{% block body %}
<h1>Welcome to the RoyaumeController:show page</h1>

{{royaume.nom}}
{{royaume.capitale}}
{{royaume.nbHabitant}}
{% endblock %}
