{% extends "::base.html.twig" %}

{% block title %}WCSGotBundle:Personnage:list{% endblock %}

{% block body %}
<h1>Welcome to the Personnage:list page</h1>



<ul>
    {% for personnage in personnages %}
        <li>{{ personnage.nom }}  {{ personnage.Prenom }} 

        {# #}
        {% if personnage.royaume %}
                 {{ personnage.royaume.nom }}
        {% endif %}
        {# #}

         </li>
    {% endfor %}
</ul>

{% endblock %}
